* { 
	cursor: url('./assets/cursor_ariel.gif'), auto; 
	font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
	src: url("./assets/comic-sans-ms/comici.ttf");
}

body {
	background: url("./assets/bg.jpg") no-repeat center center fixed;
	background-size:  cover;
	height:  100%;
	position:  relative;
}

body::after {
	content: '';
	display: block;
	height: 50px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: url("./assets/aniguitarline.gif");
}

h1 {
	color: #05fcec;
	font-size: 48px;
}

h2 {
	color: white;
}

.subheader {
	background: url("./assets/flamingline.gif");
	height: 100px;
}

.flex-parent {
    display: flex;
    height: 100vh;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-subparent {
	display:  flex;
	height: 200px;
	align-items: flex-start;
	justify-content: space-between;
}

.flex-child {
	height: 200px;
	width: 200px;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
}

.leftborder {
	height: 100vh;
	width: 200px;
	background: url("./assets/dancingbaby.gif");
	/*position: absolute;*/
	z-index: 0;
}

.rightborder {
	height: 100vh;
	width: 175px;
	background: url("./assets/palmtrees.gif");
	right: 0;
	z-index: 0;
}

video {
	height: 300px;
}

.scroll {
	overflow-x: scroll;
	overflow-y: scroll;
}

.flex-subparent-2 {
	height: 300px;
}