* { 
	cursor: url('./assets/cursor_ariel.gif'), auto; 
	font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
	src: url("./assets/comic-sans-ms/comici.ttf");
}

body {
	background: url("./assets/bg.jpg") no-repeat center center fixed;
	background-size:  cover;
	height:  100%;
	position:  relative;
}

body::after {
	content: '';
	display: block;
	height: 50px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: url("./assets/aniguitarline.gif");
}

h1 {
	color: #05fcec;
	font-size: 60px;
	font-style: oblique;
}

h3 {
	font-size: 30px;
}

.subheader {
	background: url("./assets/flamingline.gif");
	height: 100px;
}

.flex-parent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-subparent {
	display:  flex;
	height: 200px;
	align-items: flex-start;
	justify-content: space-between;
}

.flex-child {
	height: 200px;
	width: 200px;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 1200px;
}

.leftborder {
	height: 1200px;
	width: 175px;
	background: url("./assets/dancing_girl.gif");
	/*position: absolute;*/
	z-index: 0;
}

.rightborder {
	height: 1200px;
	width: 175px;
	background: url("./assets/palmtrees.gif");
	right: 0;
	z-index: 0;
}

td {
	/*border: 8px groove #fbfbfb;*/
	border-top: 8px solid #03e3fc;
    border-left: 8px solid #03e3fc;
    border-right: 8px solid #03e3fc;
    border-bottom: 8px solid #04afc2;
}
td h3 {
	text-align: center;
}

a {
	cursor: pointer;
}

a:visited {
	color: #fa28fa;
}

a:hover {
	color: #8ef73e;
}

.linkborder-spotify {
	background: url("./assets/border-spotify.gif");
}

.linkborder-apple {
	background: url("./assets/border-apple.gif");
	background-size: contain;
}

.linkborder-soundcloud {
	background: url("./assets/border-soundcloud.gif");
}

.linkborder-bandcamp {
	background: url("./assets/border-bandcamp.gif");
	/*background-size: contain;*/
}

.linkborder-instagram {
	background: url("./assets/border-instagram.gif");
}

.border6 {
	background: url("./assets/border6.gif");
	background-size: contain;
}

.linkfont {
	font-family: Times, "Times New Roman", serif;
}

video {
	height: 300px;
}

.scroll {
	overflow-x: scroll;
	overflow-y: scroll;
}

.flex-subparent-2 {
	height: 300px;
}

.yellow {
	color: hotpink;
	font-weight: bold;
	text-align: center;
	/*font-family: fantasy;*/
}

.white {
	color: white;
}
